* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: Kode Mono, sans-serif;
  color: #6c6c6c;
  font-size: 40px;
  font-style: italic;
  padding: 20px 0; /* Add padding to the top and bottom */
  text-align: center;
  margin-bottom: 20px; /* Add margin to separate the header from the navbar */
}

.navbar {
  overflow: hidden;
  background-color: #f2f2f2;
  text-align: center;
}

.navbar a {
  font-family: Kode Mono, sans-serif;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #ddd;
}

#me {
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  width: 100%; /* Adjust the width as needed */
  max-width: 850px; /* Add a maximum width to the image */
  height: auto;
}
p {
  font-family: Kode Mono, sans-serif;
  margin: 1em 0; /* Adjust margin for spacing between paragraphs */
  font-size: 1em; /* Use relative units for font size */
  text-align: center; /* Align paragraphs to center */
}

h3 {
  font-family: Kode Mono, sans-serif;
  color: #030101;
  font-size: 20px;
  font-style: italic;
}
